body,
canvas,
div {
	outline: none;
	-moz-outline-style: none;
	-moz-outline-style: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	overflow: hidden;
}

canvas {
	background-color:rgba(0,0,0,0); width: 800px !important;
	height: 600px !important;
}

#contentDiv {
	display: table;
	margin: auto;
}

#GameDiv,
#gameAxDivContainer {
	position:relative;width:100vw;height:100vh;left:0px;top:0px;outline:none;-moz-outline-style:none;background-color:#000;visibility:visible;
}

#Cocos2dGameContainer {
	position: absolute;
	margin: 0px;
	overflow: hidden;
	left: 0px;
	top: 0px;
}

#loadingText {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 116px;
	height: 116px;
	margin-top: -50px;
	margin-left: -50px;
	border: 0px solid #000000;
	color: #eeeeee;
	font-family: Verdana;
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
	line-height: 116px;
}

#loadingDisplay {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
	border: 8px solid #eeeeee;
	border-top: 8px solid #666666;
	border-radius: 50%;
	animation: spin 1.5s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}